## Implementation of Logistic Regression Classifier Code by our own
###code written by Uday kiran Bakka

In [130]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix

In [131]:
#importing dataset
data=pd.read_csv("titanic_x_y_train.csv",delimiter=",")

In [132]:
##data cleaning if you know cleaning data then don't worry about it****
data.drop(["Name","Ticket","Cabin"],axis=1,inplace=True)
def change(st):
    if st=="female":
        return 0
    else:
        return 1
data["Sex"]=data["Sex"].apply(change)
data.drop("Embarked",axis=1,inplace=True)
data.Pclass.fillna(data.Pclass.mean(),inplace=True)
data.Age.fillna(data.Age.mean(),inplace=True)
data.SibSp.fillna(data.SibSp.mean(),inplace=True)
data.Parch.fillna(data.Parch.mean(),inplace=True)
data.Fare.fillna(data.Fare.mean(),inplace=True)
data.Survived.fillna(data.Survived.mean(),inplace=True)
y_train=data["Survived"]
data.drop("Survived",axis=1,inplace=True)
x_train=data
data

     Pclass  Sex       Age  SibSp  Parch     Fare
0         2    0  29.00000      1      0  26.0000
1         3    1  29.70056      0      0   8.0500
2         2    1  39.00000      0      0  26.0000
3         3    0  29.00000      0      4  21.0750
4         3    1  25.00000      0      0   7.0500
..      ...  ...       ...    ...    ...      ...
663       2    0  17.00000      0      0  10.5000
664       3    1  29.70056      0      0   7.7500
665       3    1  32.00000      0      0  56.4958
666       3    0  22.00000      0      0   9.8375
667       3    0  29.70056      1      0  15.5000

[668 rows x 6 columns]

In [151]:
#scaling the data *****SCALING CONVERGES OUR DATA RAPIDLY WHEN WE APPLY GRADIENT DESCENT*****
scalar=StandardScaler()
scalar.fit(x_train)
x_train=scalar.transform(x_train)

In [ ]:
class Tree:
    self.

In [ ]:
##we could see that our classifier is working more accurate than the inbuilt classifier
##enjoy and keep coding :)
#code written by Uday kiran Bakka